//- mixin tabs
//-   .tabs(data-tabs="tabs")
//-     button.tab-button.is-active(data-tab="tab1") Tab 1
//-     button.tab-button(data-tab="tab2") Tab 2

//-   .tab-content(data-tabs-content="tabs")
//-     .is-active(data-tab-content="tab1")
//-       div Tab 1
//-       .tabs(data-tabs="tabs2")
//-         button.tab-button.is-active(data-tab="tab3") Tab 3
//-         button.tab-button(data-tab="tab4") Tab 4

//-       .tab-content(data-tabs-content="tabs2")
//-         .is-active(data-tab-content="tab3")
//-           div Tab 3
//-         div(data-tab-content="tab4")
//-           div Tab 4
//-     div(data-tab-content="tab2")
//-       div Tab 2

//- mixin tabs-custom(tabs)
//-   .tabs(data-tabs="tabs")
//-     button.tabs__prev
//-       +svg("chevron-left")
//-     each data in tabs
//-       if data.active
//-         a.button.button--secondary.tab-button.is-active(href=data.href)= data.name
//-       else
//-         a.button.button--secondary.tab-button(href=data.href)= data.name
//-     button.tabs__next
//-       +svg("chevron-right")

//- mixin tabs-custom-slider(tabs)
//-   .swiper.tabs.js-tabs-slider
//-     .swiper-wrapper
//-       each data in tabs
//-         if data.active
//-           .swiper-slide
//-             a.button.button--secondary.tab-button.is-active(href=data.href)= data.name
//-         else
//-           .swiper-slide
//-             a.button.button--secondary.tab-button(href=data.href)= data.name
//-   button.swiper-button-prev
//-   button.swiper-button-next

mixin tabs(title, img, tabs, width, height)
  .tabs-main
    img(src=img, alt=title, width=width, height=height).hidden-desktop
    h2= title
    +svg("arrow-down-circle")

    .tabs-container
      .tabs.hidden-desktop
        each tab, i in tabs
          button.tab-button(aria-expanded=i === 0 ? 'true' : 'false')= tab.title

      .tab-content-desktop.visible-desktop.hidden-tablet
        if tabs[0]
          .tab-content__item
            h3= tabs[0].title
            article.article
              != tabs[0].content

        .tab-content__centered
          .tab-content__line
          img(src=img, alt=title, width=width, height=height)
          .tab-content__line

        if tabs[1]
          .tab-content__item
            h3= tabs[1].title
            article.article
              != tabs[1].content

      .tab-content-laptop.hidden-desktop
        each tab, i in tabs
          .tab-content__item(aria-expanded=i === 1 ? 'true' : 'false')
            h3= tab.title
            article.article
              != tab.content

mixin tabs-team(title, tabs)
  .tabs-team
    .tabs__team-title
      h2= title
      +svg("arrow-down-circle")

    .tabs__toggle-rectangle.visible-desktop

    .tabs__team-toggle
      button.tabs__toggle-img.tabs__toggle-img--left(type="button", data-index="0", aria-expanded="true")
        img.tab-img(src=tabs[0].img, alt=tabs[0].title, width="360", height="550")
        img.tab-img-hover(src=tabs[0].imgHover, alt=tabs[0].title, width="360", height="550")

      .tabs__team-name.tabs__team-name--left
        .svg-wrapper
          +svg("wave-name-left")
        span= tabs[0].name

      button.tabs__toggle-img.tabs__toggle-img--right(type="button", data-index="1", aria-expanded="false")
        img.tab-img(src=tabs[1].img, alt=tabs[1].title, width="360", height="550")
        img.tab-img-hover(src=tabs[1].imgHover, alt=tabs[1].title, width="360", height="550")

      .tabs__team-name.tabs__team-name--right
        span= tabs[1].name
        .svg-wrapper
          +svg("wave-name-right")
    
    .tabs__team-container
      each tab, i in tabs
        .tab-content__text(data-tab=i, aria-expanded=i === 0 ? 'true' : 'false')
          h3= tab.title
          article.article
            != tab.content
